{% extends "layout/default.twig" %}

{% block content %}
    <section class="article-container">
        <div>
            <h1>{{ post.name }}</h1>
            <article>
                <div class="figure">
                    <img src="../assets/img/{{ post.picture }}" alt="{{ post.name }}">
                </div>
                <div class="corps">
                    <p>{{post.getContent()}}</p>
                    <div class="footer">
                       <ul>
                        <li class="mylist">Habitat :</li>
                         {% for category in post.categories %}
                            <li class="mylist"><a href="{{category.url}}">{{ category.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
                <label id="err1">Veuillez saisir votre commentaire</label>
            <div class="detail row">
                <textarea class="col-5 offset-2" id="text1" required></textarea>
                <button class="col-2 offset-1" id="1" onclick=comment(this)>Commenter</button>
            </div>
            <div>
                <h3><span id="id1">commentaires</span></h3>
                <ul id="ul1">
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

